streamlit
pandas
numpy
scikit-learn
python-dotenv
langchain-google-genai
sendgrid
langchain-openai
langgraph
streamlit
python-dotenv

langchain
langchain-core
langchain-openai
langchain-google-genai
langgraph

openai
google-generativeai

sendgrid
requests
google-search-results
